{% extends 'layout.html' %}

{% block content %}

<h1>About</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
Eos ab delectus nostrum porro id, voluptas illum, odio architecto tempore exercitationem aperiam 
maiores illo similique! Saepe asperiores dolorem iste rerum officia porro qui perspiciatis 
debitis sint quia assumenda, error sit? Iusto fugit fuga, molestias officia consectetur quisquam 
molestiae nostrum? Corrupti excepturi eum et nisi tempora quasi ex! Iste, ipsa quaerat, error 
cupiditate totam ab accusamus temporibus itaque necessitatibus quibusdam obcaecati, voluptates 
facilis esse. Quos pariatur consequuntur, nobis quisquam debitis ullam fugit ut eveniet voluptate 
magnam saepe quia similique tenetur provident culpa nihil? Fuga possimus tempora minus temporibus, 
quibusdam excepturi tempore ratione!</p>

{% endblock %}